charts {
    display : block;
    margin : 0 auto;
    text-align : center;
    width : 100%;
}

g {

}

svg {
    margin : 5px 80px 5px 50px;
}
svg[wrist=left] {
    background-color : lightblue;
}
svg[wrist=right] {
    background-color : pink;
}

text {
    color : black;
    font-size : 26px;
    margin : 10px;
    padding : 10px;
}